aws_region        = "us-east-1"
state_bucket_name = "cred-devops-tf-state"
lock_table_name  = "cred-devops-tf-locks"
project_name     = "cred-devops-pipeline"
github_repository = "degoke/cred-devops-pipeline"
ghcr_username     = "your-github-username"
ghcr_pat          = "ghp_xxxxxxxxxxxxxxxxxxxx"
